
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Django</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="//platform-api.sharethis.com/js/sharethis.js#property=5bcffb96e0bd050011105875&product=inline-share-buttons"></script>
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5bcffb96e0bd050011105875&product=custom-share-buttons"></script>
</head>
<body>

	 <nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Gokul</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="/home/about/">Finance</a></li>
	      <li><a href="/home/contact">Travel</a></li>
	      <li><a href="/home/education">Education</a></li>
	      <li><a href="/home/business">Business</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	{% if request.user.id %}
		      <li><a href="/signup/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>

		    {% else %}  
		      <li><a href="/signup/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/signup"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		    {% endif %}
	    </ul>
	  </div>
	</nav> 
<h1>Welocme {{request.user.id}}</h1>
	{% block banner %} {% endblock %}
  <h1>{% block head %}{% endblock %}</h1>
      {% block content %}{% endblock %}
	
</div>

</body>
</html>



