
{% extends "base.html" %}


{% block banner %} 
	
    <div class="jumbotron text-center  ban">
			<br>
			<br>
      <h1 id="head">Travel</h1>
      
    </div>


{% endblock %}
{% block content %}
    

    <!--<form method="Post" action="/home/contact/">{% csrf_token%}
    	<input type="text" name="title" placeholder="title">
    	<input type="text" name="Description" placeholder="Description">
    	<input type="submit" value="Post">
    	
    </form>-->
    {% if request.user.id %}
	    <div class="container">
			
			<div class="row">
			  <div class="leftcolumn">
			

				    <div class="card">
				    <h3>Post</h3>
				    
			    		<form method="Post" action="/home/travel/">{% csrf_token%}
					    	<input type="text" name="title" placeholder="title" class="posttitle"><br>
					    	<textarea name="description" placeholder="Description" class="des"></textarea><br>
					    	<input type="submit" value="Post" class="bt">
					    	
					    </form>

				    </div>
			   
			    
			  </div>
		 	</div>
		 </div>
	{% endif %}

    <div class="container">
		
		<div class="row">
		  <div class="leftcolumn">
		  {% for p in post %}

			    <div class="card">
			    
		    		<h2>{{p.title}}</h2>
		    		<h5> Category: {{p.category}}</h5>
		    		<p>{{p.description}}</p>
		    		<form method="Post" action="/home/index/">{% csrf_token%}
		    			<input type="hidden" name="postid" value="{{p.id}}">

		    			<input type="submit" name="Like" value="Like">
		    		</form>
		    		<a href="/home/comment/{{p.id}}/"> <button class="btn btn-primary">Comment</button>  </a>
		    		<a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/home/comment/{{p.id}}">
					Share
					</a>
			    </div>
		    {% endfor %}
		    
		  </div>
	 	</div>
	 </div>
{% endblock %}


